<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TrackExpenses</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddExpenseServlet</display-name>
    <servlet-name>AddExpenseServlet</servlet-name>
    <servlet-class>AddExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpenseServlet</servlet-name>
    <url-pattern>/AddExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewExpensesServlet</display-name>
    <servlet-name>ViewExpensesServlet</servlet-name>
    <servlet-class>ViewExpensesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewExpensesServlet</servlet-name>
    <url-pattern>/ViewExpensesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetInitialBudgetServlet</display-name>
    <servlet-name>SetInitialBudgetServlet</servlet-name>
    <servlet-class>SetInitialBudgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetInitialBudgetServlet</servlet-name>
    <url-pattern>/SetInitialBudgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportToPDFServlet</display-name>
    <servlet-name>ExportToPDFServlet</servlet-name>
    <servlet-class>ExportToPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportToPDFServlet</servlet-name>
    <url-pattern>/ExportToPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
</web-app>